.brokerage-base {
  padding: 20px 0;
  font-family: "Open Sans", sans-serif;
}

.brokerage-base .segment-selection {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2px;
}

.brokerage-base .segment-detail {
  background: url("../../../public/assets/brokerage_calc_bg.jpg");
  width: 100%;
  background-size: cover;
  padding: 0 0 15px;
  color: $primary_font_color;
}

.segment-selection .segment-item {
  color: $primary_font_color;
  background: $brokerage-segment-bg;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  margin-right: 5px;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}

.segment-selection .segment-item.active-segment {
  color: $primary_font_color;
  background: $background_secondary_color;
  pointer-events: none;
}

.section-title {
  width: 100%;
  color: $primary_font_color;
  background: $brokerage-section-bg;
  font-size: 28px;
  font-weight: 300;
  line-height: 31px;
  text-align: center;
  padding: 30px 0;
}

.category-list {
  border-bottom: 1px solid $brokerage-primary-border;
  border-bottom-left-radius: 10px;
  background: $brokerage-section-bg;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.category-item {
  /* height: 40px; */
  display: flex;
  align-items: center;
  font-size: 13px;
  border: 0;
  color: $primary_font_color;
  background: $brokerage-category-bg;
  padding: 8px 20px;
  margin-right: 2px;
  border-radius: 4px 4px 0 0;
  margin-bottom: 5px;
  cursor: pointer;
}

.category-item:hover {
  background: $brokerage-category-item-bg;
  color: $primary_font_color;
}

.category-item.category-active {
  background: $brokerage-category-item-bg;
  border-top: 2px solid $background_secondary_color;
  color: $primary_font_color;
  pointer-events: none;
}

.category-details {
  padding: 0 15px;
}

.detail-input-section {
  padding: 20px 15px;
  margin-bottom: 25px;
  color: $primary_font_color;
  border-bottom: 1px solid $brokerage-primary-border;
  background: $brokerage-section-bg;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.quantity-input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: 15px;
}

.common-input {
  min-width: 100px;
  max-width: 140px;
  margin: 0 auto;
  line-height: normal;
  background: $background_tertiary_color;
  outline: 0;
  border: 0;
  padding: 8px;
  color: $secondary_font_color;
  border-radius: 4px;
}

.top-output-container .input-container {
  display: flex;
}

.top-output-container {
  display: flex;
  padding-left: 20%;
}

.output-bg {
  /* background: #000; */
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
}

.actions-calc {
  width: 100%;
}

.action-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.actions-calc .brokerage-savings {
  background-color: $background_tertiary_color;
  color: $primary_font_color;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
  z-index: 2 !important;
}

.actions-calc .brokerage-savings.active,
.actions-calc .see-all-charges.active {
  background-color: $primary_btn_color;
}

.actions-calc .see-all-charges {
  background-color: $background_tertiary_color;
  color: $primary_font_color;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
}

.charge-details-section {
  padding: 10px;
}

.present-brok-tag {
  font-size: 26px;
  background: $primary_font_color;
  line-height: 29px;
  color: $tertiary_font_color;
  padding: 10px 0;
  text-align: center;
}

.brokerage-present-input {
  text-align: center;
  padding: 10px 0;
}

.brokerage-present-input input {
  min-width: 100px;
  max-width: 140px;
  margin: 0 auto;
  line-height: normal;
  background: $background_tertiary_color;
  outline: 0;
  border: 0;
  padding: 8px;
  color: $secondary_font_color;
  border-radius: 4px;
}

.brokerage-present-input > span {
  padding-left: 15px;
}

.your-savings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.your-savings .your-savings-text {
  font-size: 24px;
  line-height: 27px;
  color: $primary_font_color;
  font-weight: 600;
}

.your-savings-output {
  /* background: #000; */
  padding: 5px 10px;
  border-radius: 5px;
  min-width: 50px;
  min-height: 32px;
  margin-left: 20px;
}

/*
   charges List Table

*/

.charges-table {
  padding-bottom: 1px;
  background: $primary_font_color;
  border-radius: 12px;
}

.charges-table .table {
  background-color: $primary_font_color;
  border-collapse: collapse !important;
  width: 100%;
}

.charges-table .table tr th {
  font-size: 16px;
  font-weight: 600;
  color: $tertiary_font_color;
  line-height: 23px;
}

.charges-table .table tr:nth-child(even) {
  background: $brokerage-primary-bg-color !important;
}

.charges-table .table tr td {
  font-size: 14px;
  font-weight: normal;
  color: $tertiary_font_color;
  line-height: 20px;
  border: 1px solid $secondary_font_color !important;
  padding: 10px 15px;
}

.charges-table .table th {
  border: 1px solid $secondary_font_color !important;
  border-width: unset !important;
  text-align: left;
  padding: 10px 15px;
}

.table-heading {
  background: $brokerage-heading-bg;
  padding: 15px;
  color: $brokerage-primary_font_color;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.table-heading::before {
  /* content: "\f012"; */
}

/*  Total charges Table */

/* .total-charges-table {

} */

.charges-list {
  width: 100%;
  padding: 0;
  background: $brokerage-secondary-bg-color;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
}

.item-name {
  width: 150px;
  font-size: 14px;
  font-weight: 400;
}

.item-value {
  flex: 1;
  width: 100%;
  padding: 5px 10px;
  color: $primary_font_color;
  background: $brokerage-tertiary-bg-color;
  outline: 0;
  border: 0;
  font-family: sans-serif;
}
