$appBg: var(--primary-color);
$appVersionbg: var(--app-version-bg);
$appVersionColor: var(--app-version-color);
$background_primary_color:var(--background-primary-color);
$primary_btn_color: var(--primary-btn-color);
$background_secondary_color: var(--background-secondary-color);
$background_tertiary_color: var(--background-tertiary-color);
$primary_font_color: var(--primary-font-color);
$secondary_font_color: var(--secondary-font-color);
$tertiary_font_color: var(--tertiary-font-color);
$brokerage-primary_font_color: var(--brokerage-primary-font-color);
$brokerage-heading-bg: var(--brokerage-heading-bg);
$brokerage-primary-border: var(--brokerage-primary-border);
$brokerage-primary-bg-color: var(--brokerage-primary-bg-color);
$brokerage-secondary-bg-color: var(--brokerage-secondary-bg-color);
$brokerage-tertiary-bg-color: var(--brokerage-tertiary-bg-color);
$brokerage-section-bg: var(--brokerage-section-bg);
$brokerage-category-bg: var(--brokerage-category-bg);
$brokerage-category-item-bg: var(--brokerage-category-item-bg);
$loader-bg: var(--loader-bg);
$brokerage-segment-bg: var(--brokerage-segment-bg);
$error-font-color: var(--error-font-color);
$primary-border-color: var(--primary-border-color);
