.user-icon {
  height: 40px;
  width: 30px;
  min-width: 60px;
}

.logout-popup {
  min-width: none;
  margin-left: auto;
}

.logout-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.dashboard-logo {
  width: 40px;
  margin: 10px 20px;
}

.modal-box {
  position: "absolute" as "absolute";
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
  width: 400;
  background-color: "background.paper";
  border: 2px solid $primary-border-color;
  box-shadow: 24;
  padding: 4;
  min-width: 300px;
}

.modal-btns {
  display: flex;
}

.lang-select legend {
  width: 0 !important;
}

.lang-select .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 5px 14px !important;
  padding-right: 32px !important;
}

.css-wjh20t-MuiPagination-ul {
  justify-content: center !important;
  padding: 15px !important;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: $primary-btn-color !important;
}
