.contactus-table {
  min-height: calc(100vh - 65px) !important;
  display: flex;
  flex-direction: column;
}

.contactusTable-btns button,
.contactsTable-head th {
  background-color: $primary_btn_color !important;
  color: $primary_font_color;
  border: none;
  font-size: 14px !important;
  padding: 5px 30px !important;
  text-transform: capitalize !important;
}

.contactus-table button:hover {
  background-color: $primary_btn_color;
}

.remarks-field legend,
.assignto-field legend {
  display: none !important;
  font-size: 14px !important;
}

.assignto-field .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input,
.remarks-field .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 14px !important;
  padding: 5px 30px !important;
}

.update-btn,
.delete-btn {
  height: auto !important;
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: $primary_font_color !important;
}

.deletion-animation {
  animation-name: fadein;
  animation-duration: 3s;
  transition-timing-function: linear;
}

@keyframes fadein {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(1500px);
  }
}

.nav-items {
  justify-content: end;
  margin-top: 5px;
}

.nav-link {
  margin-top: 10px !important;
  text-decoration: none;
}

.msg-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  .msg-content {
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }

  .msg-btn {
    width: 75px;

    .msg-custom-btn {
      font-size: 10px;
    }
  }
}
