.login-content {
  justify-content: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-logo {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.login-btn {
  color: $primary_font_color !important;
}

.login-btn:hover {
  background-color: $primary_btn_color !important;
}

.MuiTextField-root {
  border: 0 !important;
}
