.margin-calculator-root {
  background-color: transparent;
}

.margin-header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-weight: 700;
  font-size: 20px;
}

.margin-calc-lotsize {
  border: 1px solid #00cd97 !important;
  background-color: transparent !important;
  color: #000 !important;
  box-sizing: border-box !important;
  width: 250px !important;
  max-width: 280px !important;
}

.margin-calc-lotsize:focus {
  outline: 2px solid #00cd97;
}

.search-input {
  width: 250px !important;
  padding: 8px;
  border: 1px solid #00cd97;
  border-radius: 4px;
  box-sizing: border-box !important;
}

.search-input:focus {
  outline: 2px solid #00cd97;
}

.search-results-window {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  width: 250px !important;
  height: 250px !important;
  background: #fff !important;
  border: 1px solid #00cd97;
  z-index: 3;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 13px;
}

.search-result-row {
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.search-result-row:hover {
  background: #00cd97;
  color: #fff;
}

.margin-results-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.margin-results-table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.margin-result-title {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 10px;
}

.margin-results-display {
  border: 1px solid #eee;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
  min-width: 280px;
}

.margin-results-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.margin-results-row div {
  padding: 5px 10px;
}

.margin-selected-symbol {
  min-height: 320px;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.margin-qty-section {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  margin-top: 5px;
}

.lot-size-info {
  font-size: 14px;
  position: absolute;
  margin-top: 5px;
  margin-left: 165px;
  font-weight: 500;
  box-sizing: border-box !important;
}

.symbol-search-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.symbol-label,
.lots-label {
  margin-right: 10px;
  font-weight: 500;
  font-size: 13px;
  min-width: 45px;
  text-align: right;
}

.lots-block,
.action-btn-blk,
.toggle-btn-blk {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.toggle-blk {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  margin-top: 20px;
}

.error-search-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: red;
  font-weight: 400 !important;
}

.symbol-delete {
  height: 30px !important;
}

.custom-header {
  font-size: 14px !important;
}

.MuiDataGrid-cellContent {
  font-size: 14px !important;
}

.margin-action-btn,
.action-selector {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 25px !important;
}

.snack-message {
  font-size: 14px !important;
}

.buy-label {
  font-size: 14px !important;
}

@media screen and (max-width: 768px) {
  .symbol-label,
  .lots-label {
    font-size: 11px;
  }

  .lot-size-info {
    margin-left: 145px;
  }
}
