.brokerage-base {
  padding: 20px 0;
  font-family: "Open Sans", sans-serif;
}

.brokerage-base .segment-selection {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2px;
}

.brokerage-base .segment-detail {
  background: url("../images/brokerage_calc_bg.jpg");
  width: 100%;
  background-size: cover;
  padding: 0 0 15px;
  color: #fff;
}

.segment-selection .segment-item {
  color: #fff;
  background: #a157b8;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  margin-right: 5px;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}

.segment-selection .segment-item.active-segment {
  color: #fff;
  background: #639;
  pointer-events: none;
}

.section-title {
  width: 100%;
  color: #fff;
  background: rgb(255 255 255 / 8%);
  font-size: 28px;
  font-weight: 300;
  line-height: 31px;
  text-align: center;
  padding: 30px 0;
}

.category-list {
  border-bottom: 1px solid #5a5d59;
  border-bottom-left-radius: 10px;
  background: rgb(255 255 255 / 8%);
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.category-item {
  /* height: 40px; */
  display: flex;
  align-items: center;
  font-size: 13px;
  border: 0;
  color: #fff;
  background: rgb(255 255 255 / 10%);
  padding: 8px 20px;
  margin-right: 2px;
  border-radius: 4px 4px 0 0;
  margin-bottom: 5px;
  cursor: pointer;
}

.category-item:hover {
  background: rgb(255 255 255 / 30%);
  color: #fff;
}

.category-item.category-active {
  background: rgb(255 255 255 / 30%);
  border-top: 2px solid #639;
  color: #fff;
  pointer-events: none;
}

.category-details {
  padding: 0 15px;
}

.detail-input-section {
  width: 100%;
  padding: 20px 15px;
  margin-bottom: 25px;
  color: #fff;
  border-bottom: 1px solid #5a5d59;
  background: rgb(255 255 255 / 8%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.quantity-input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: 15px;
}

.common-input {
  min-width: 100px;
  max-width: 140px;
  margin: 0 auto;
  line-height: normal;
  background: #151515;
  outline: 0;
  border: 0;
  padding: 8px;
  color: #eee;
  border-radius: 4px;
}

.top-output-container .input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
  font-size: 15px;
  flex-wrap: wrap;
  min-width: 280px;
  padding: 15px;
}

.top-output-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.brokerage-label::after,
.profit-label::after {
  content: "(\20B9)";
  padding-left: 5px;
}

.output-bg {
  background: #000;
  padding: 5px 10px;
  border-radius: 5px;
}

.actions-calc {
  width: 100%;
}

.action-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.actions-calc .brokerage-savings {
  background-color: #151515;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
}

.actions-calc .brokerage-savings.active,
.actions-calc .see-all-charges.active {
  background-color: #00cd97;
}

.actions-calc .see-all-charges {
  background-color: #151515;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
}

.charge-details-section {
  padding: 10px;
}

.present-brok-tag {
  font-size: 26px;
  background: #fff;
  line-height: 29px;
  color: #222;
  padding: 10px 0;
  text-align: center;
}

.brokerage-present-input {
  text-align: center;
  padding: 10px 0;
}

.brokerage-present-input input {
  min-width: 100px;
  max-width: 140px;
  margin: 0 auto;
  line-height: normal;
  background: #151515;
  outline: 0;
  border: 0;
  padding: 8px;
  color: #eee;
  border-radius: 4px;
}

.brokerage-present-input > span {
  padding-left: 15px;
}

.your-savings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.your-savings .your-savings-text {
  font-size: 24px;
  line-height: 27px;
  color: #fff;
  font-weight: 600;
}

.your-savings-output {
  background: #000;
  padding: 5px 10px;
  border-radius: 5px;
  min-width: 50px;
  min-height: 32px;
  margin-left: 20px;
}

/*
   charges List Table

*/

.charges-table {
  padding-bottom: 1px;
  background: #fff;
  border-radius: 12px;
}

.charges-table .table {
  background-color: #fff;
}

.charges-table .table tr th {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  line-height: 23px;
}

.charges-table .table tr td {
  font-size: 14px;
  font-weight: normal;
  color: #222;
  line-height: 20px;
}

.charges-table .table th {
  border: 1px solid #ddd !important;
  border-width: unset !important;
}

.table-heading {
  background: #4c4b49;
  padding: 15px;
  color: #d7e021;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.table-heading::before {
  /* content: "\f012"; */
}

/*  Total charges Table */

/* .total-charges-table {

} */

.charges-list {
  width: 100%;
  padding: 0;
  background: #a49f9c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
}

.item-name {
  width: 150px;
  font-size: 14px;
  font-weight: 400;
}

.item-value {
  flex: 1;
  width: 100%;
  padding: 5px 10px;
  color: #fff;
  background: #8d8c8a;
  outline: 0;
  border: 0;
  font-family: sans-serif;
}
